{% comment %}Bygg hierarkisk sitemap{% endcomment %}

{% assign all_items = "" | split: "" %}

{% comment %}Hent sider{% endcomment %}
{% for page in site.pages %}
    {% assign url_parts = page.url | split: '/' %}
    {% assign filename = url_parts.last %}
    {% unless filename contains 'google' or page.url contains '.xml' or page.url contains 'search.json' or page.url contains 'css' or page.url contains '.json' %}
        {% capture title %}
            {% if page.title %}
                {{ page.title }}
            {% else %}
                {% assign words = filename | remove: '.html' | remove: '.md' | replace: '/([A-Z])/g', ' $1' | replace: '([a-z])([A-Z])', '$1 $2' %}
                {{ words | capitalize }}
            {% endif %}
        {% endcapture %}
        {% assign item = "" | split: "" %}
        {% assign item = item | push: page.url %}
        {% assign item = item | push: title %}
        {% assign all_items = all_items | push: item %}
    {% endunless %}
{% endfor %}

{% comment %}Del inn i rot- og katalog-element{% endcomment %}
{% assign root_items = "" | split: "" %}
{% assign dir_items = "" | split: "" %}

{% for item in all_items %}
    {% assign url = item[0] %}
    {% assign url_parts = url | split: '/' %}
    {% if url_parts.size <= 2 and url_parts.last != '' %}
        {% assign root_items = root_items | push: item %}
    {% else %}
        {% assign dir_items = dir_items | push: item %}
    {% endif %}
{% endfor %}

<ul>
{% comment %}Rotfiler{% endcomment %}
{% assign sorted_root = root_items | sort %}
{% for item in sorted_root %}
    {% assign url = item[0] %}
    {% assign title = item[1] %}
    {% assign filename = url | split: '/' | last %}
    {% unless filename == '' or filename == 'index.html' %}
        <li>
            <a href="{{ site.baseurl }}{{ url }}">{{ title }}</a>
        </li>
    {% endunless %}
{% endfor %}

{% comment %}Katalogstruktur{% endcomment %}
{% assign all_dirs = "" | split: "" %}
{% for item in dir_items %}
    {% assign url = item[0] %}
    {% assign url_parts = url | split: '/' %}
    {% assign dir_parts = url_parts | pop %}
    {% assign dir = dir_parts | join: '/' %}
    {% unless dir == '' %}
        {% assign all_dirs = all_dirs | push: dir %}
    {% endunless %}
{% endfor %}
{% assign all_dirs = all_dirs | uniq | sort %}

{% for dir in all_dirs %}
    {% assign dir_name = dir | split: '/' | last %}
    {% unless dir_name == '' %}
        <li>
            <strong>{{ dir_name | capitalize }}:</strong>
            <ul>
            {% assign sorted_dir = dir_items | sort %}
            {% for item in sorted_dir %}
                {% assign url = item[0] %}
                {% assign title = item[1] %}
                {% assign url_parts = url | split: '/' %}
                {% assign item_dir_parts = url_parts | pop %}
                {% assign item_dir = item_dir_parts | join: '/' %}
                {% if item_dir == dir %}
                    {% assign filename = url_parts | last %}
                    {% unless filename == 'index.html' %}
                        <li>
                            <a href="{{ site.baseurl }}{{ url }}">{{ title }}</a>
                        </li>
                    {% endunless %}
                {% endif %}
            {% endfor %}
            </ul>
        </li>
    {% endunless %}
{% endfor %}
</ul>
