---
---

@import "{{ site.theme }}";

div.twocolumn {
  column-count: 2;
  column-rule: 2px solid lightblue;
  margin-bottom: 1.5em;
}

div.threecolumn {
  column-count: 3;
  column-rule: 2px solid lightblue;
  margin-bottom: 1.5em;
}

#left_toc {
  float: none;
  text-align: right;
}
