---
---

@import "{{ site.theme }}";

div.twocolumn {
  column-count: 2;
  column-rule: 2px solid lightblue;
  margin-bottom: 1.5em;
}

div.threecolumn {
  column-count: 3;
  column-rule: 2px solid lightblue;
  margin-bottom: 1.5em;
}

header #left_toc {
  float: none;
  text-align: left;
  background: #fff;
  height: 1.2em;
  /* top | left and right | bottom */
  border-style: solid none none;
  border-top-color: rgb(224, 224, 224);
  border-top-width: 1px;
}

header #left_toc > li {
  width: auto;
  float: none;
  text-align: left;
  background: #fff;
  border-style: none;
  height: 1.2em;
  display: block;
}

header #left_toc li > ul >li {
  width: auto;
  float: none;
  border-styke: none;
  height: 1.2em;
  margin-left: 2em;
  background: #fff;
  display: block;
}
