5.gen.hfst 5.lexc.hfst 5.mor.hfst 5.twolc.hfst e.gen.hfst e.lexc.hfst e.mor.hfst e.twolc.hfst h.gen.hfst h.lexc.hfst h.mor.hfst h.twolc.hfst sju-x-1743.gen.hfst sju-x-1743.lexc.hfst sju-x-1743.mor.hfst sju-x-1743.twolc.hfst
