---
---
{%- capture _LINE_FEED -%}
{%- endcapture -%}
{%- assign _content = content -%}

{%- comment -%}
Split content on <pre tags to protect code blocks
{%- endcomment -%}
{%- assign _pre_befores = _content | split: "<pre" -%}
{%- assign _content = "" -%}

{%- for _pre_before in _pre_befores -%}
  {%- comment -%} Compress the part BEFORE <pre {%- endcomment -%}
  {%- assign _compressed = _pre_before -%}
  
  {%- comment -%} Check if this contains a closing </pre> {%- endcomment -%}
  {%- assign _pres = _pre_before | split: "</pre>" -%}
  
  {%- if _pres.size > 1 -%}
    {%- comment -%} This part has </pre>, so first part is INSIDE <pre> (protected) {%- endcomment -%}
    {%- assign _inside_pre = _pres[0] -%}
    {%- assign _after_pre = _pres[1] -%}
    
    {%- comment -%} Compress the part AFTER </pre> {%- endcomment -%}
    {%- assign _after_pre = _after_pre | replace: '    ', ' ' | replace: '   ', ' ' | replace: '  ', ' ' -%}
    {%- assign _after_pre = _after_pre | replace: '> <', '><' -%}
    {%- assign _after_pre = _after_pre | strip_newlines -%}
    
    {%- if forloop.first -%}
      {%- comment -%} Very first part (before any <pre>) {%- endcomment -%}
      {%- assign _before_any = _inside_pre | replace: '    ', ' ' | replace: '   ', ' ' | replace: '  ', ' ' -%}
      {%- assign _before_any = _before_any | replace: '> <', '><' -%}
      {%- assign _before_any = _before_any | strip_newlines -%}
      {%- assign _content = _content | append: _before_any -%}
    {%- else -%}
      {%- comment -%} Inside a <pre> tag - keep as is {%- endcomment -%}
      {%- assign _content = _content | append: "<pre" | append: _inside_pre | append: "</pre>" -%}
    {%- endif -%}
    
    {%- assign _content = _content | append: _after_pre -%}
  {%- else -%}
    {%- comment -%} No </pre> in this part {%- endcomment -%}
    {%- if forloop.first -%}
      {%- comment -%} First part, compress it {%- endcomment -%}
      {%- assign _compressed = _pre_before | replace: '    ', ' ' | replace: '   ', ' ' | replace: '  ', ' ' -%}
      {%- assign _compressed = _compressed | replace: '> <', '><' -%}
      {%- assign _compressed = _compressed | strip_newlines -%}
      {%- assign _content = _content | append: _compressed -%}
    {%- else -%}
      {%- comment -%} Inside <pre>, keep as is {%- endcomment -%}
      {%- assign _content = _content | append: "<pre" | append: _pre_before -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{{- _content -}}